body {
    background-color: #303030;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.w3-btn{
    background-color: #444;
    margin-top: 10px;
    margin-left: 10px;
}
.w3-center {
    margin-top: 50px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-form label {
    color: #fff;
    margin-top: 10px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    background-color: #606060;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #979797;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

